{% extends "base.html.twig" %}

{% block body %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ajouter Produit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active">Produit > Edit </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Table Produit</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {{ form_start(form , {"attr":{
                "onsubmit":"return check()"
              }})  }}
{{ form_row(form._token) }}
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name</label>
                    {{form_widget(form.name , {"attr":{"id":"name", " class " : "form-control" }}) }}
                    <span id="nameError" style="color:red"></span><br>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    {{form_widget(form.description , {"attr":{ " class " : "form-control", "id":"desc" }}) }}
                <span id="descriptionError" style="color:red"></span><br>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Price</label>
                    {{form_widget(form.price , {"attr":{ "type":"number", "class " : "form-control","id":"price" }}) }}
                   <span id="priceError" style="color:red"></span><br>
                  </div>
                 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Category</label>
                    {{form_widget(form.category , {"attr":{ "type":"number", "class " : "form-control","id":"cat" }}) }}
                  <span id="categoryError" style="color:red"></span><br>
                  </div>
                 
                  <div class="form-group">
                    <label for="exampleInputPassword1">File</label>
                    {{form_widget(form.img , {"attr":{ "class " : "form-control","id":"file" }}) }}
                  <span id="fileError" style="color:red"></span><br>
                  </div>
                
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
{{ form_end(form) }}          
  </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>

    
    $(document).ready(function() {

    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
   
    })

    function check() {

    var name = document.getElementById("product_form_name").value;
    var desc = document.getElementById("product_form_description").value;
    var price = document.getElementById("product_form_price").value;
    var file = document.getElementById("product_form_img").value;
    var a=true;
    var nameRegex = /^[a-zA-Z]+$/;
    if (!name.match(nameRegex)) {
        toastr.error("Name must contain only alphabetical characters");
        a= false;
    }

    if (isNaN(price)) {
        toastr.error("Price must be a valid number");
        a= false;
    }

  
    return a ;
}
   
</script>
{% endblock %}