{% extends "base.html.twig" %}
{% block title %}Admin-Product{% endblock %}

{% block body %}

	
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Produits</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="#">Admin</a>
								</li>
								<li class="breadcrumb-item active">Produit > list</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-12">

							<!-- /.card -->

							<div class="card">
								<div class="card-header">
									<div class="row">
										<div class="col-6"></div>
										<div class="col-6">
											<a href="{{ path('app_product_new') }}" class="btn btn-primary float-right">Ajouter</a>
										</div>
									</div>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>id</th>
												<th>name</th>
												<th>description</th>
												<th>image</th>
												<th>price</th>
												<th>category</th>
												<th>actions</th>
											</tr>
										</thead>
										<tbody>

											{% for product in products %}

												<tr>
													<td>{{product.id}}</td>
													<td>{{product.name}}</td>
													<td>{{product.description}}</td>
													<td>



                            <img src="{{ asset('uploads/' ~ product.img) }}" alt="" width="100px" height="100px">
                            </td>
													<td>{{product.price}} $</td>
													<td>{{product.category.label}}</td>
													<td>
														<a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-primary">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
																<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
																<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
															</svg>
														</a>
														<a href="{{ path('app_products_remove', {'id': product.id}) }}" class="btn btn-danger">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
																<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
																<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
															</svg>
														</a>
													</td>
												</tr>
											{% endfor %}


										</tbody>

									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		

	<script>

		$(document).ready(function () {

$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print"
]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
document.getElementById("example1_wrapper").childNodes[0].childNodes[1].style.display="flex";
document.getElementById("example1_wrapper").childNodes[0].childNodes[1].style.justifyContent="flex-end";

document.getElementById("example1_paginate").style.display="flex";
document.getElementById("example1_paginate").style.justifyContent="flex-end";

})
	</script>
{% endblock %}
