<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %} Pidev | Accueil {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href={{ asset ('Front/images/favicon.png') }} >
        {% block css %}
            <link rel="stylesheet" href={{ asset ('Front/css/style.css') }}>
        {%  endblock %}
        <!--[if lt IE 9]>
        <script src={{ asset ('//html5shiv.googlecode.com/svn/trunk/html5.js') }}></script>
        <script>window.html5 || document.write('<script src={{ asset ('Front/js/vendor/html5shiv.js') }}><\/script>')</script>
        <![endif]-->
    </head>
{% endblock head %}
<body>

<!-- PRELOADER -->
<div id="preloader">
    <div class="preloader-area">
        <div class="preloader-box">
            <div class="preloader"></div>
        </div>
    </div>
</div>


<section class="header-top-section">
    <div class="container">
        <div class="row">
            <div  class="col-md-6">
                <div class="header-top-content">
                    <ul class="nav nav-pills navbar-left">
                        <li><a href="#"><i class="pe-7s-call"></i><span>123-123456789</span></a></li>
                        <li><a href="#"><i class="pe-7s-mail"></i><span> info@mart.com</span></a></li>
                    </ul>
                </div>
            </div>
            <div  class="col-md-6">
                <div class="header-top-menu">
                    <ul class="nav nav-pills navbar-right">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">Checkout</a></li>

                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}"><span>Logout</span></a></li>
                            <li><a href="{{ path('profile',{'id':app.user.id}) }}"><span>Profile</span></a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}"><i class="pe-7s-lock"></i><span>Login/Register</span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="header-section">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><b>M</b>art</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">page</a></li>
                    <li><a href="#">shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right cart-menu">
                    <li><a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    <li><a href="#"><span> Cart -$0&nbsp;</span> <span class="shoping-cart">0</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
{% block body %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="center">Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
                    </p>

                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
{% block js %}

    <!-- JQUERY -->
    <script src={{ asset ('Front/js/vendor/jquery-1.11.2.min.js') }}></script>
    <script src={{ asset ('Front/js/vendor/bootstrap.min.js') }}></script>
    <script src={{ asset ('Front/js/isotope.pkgd.min.js') }}></script>
    <script src={{ asset ('Front/js/owl.carousel.min.js') }}></script>
    <script src={{ asset ('Front/js/wow.min.js') }}></script>
    <script src={{ asset ('Front/js/custom.js') }}></script>

{% endblock %}

</body>
</html>
