{% extends 'base.html.twig' %}

{% block title %}Ajouter Evenement
{% endblock %}

{% block body %}

	<!-- Nested Row within Card Body -->
	<div class="row justify-content-md-center">

		<div class="col-lg-6">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Ajouter un Offre</h1>
						</div>

						{{form_start(form,{attr:{'novalidate':'novalidate'}})}}
					
							
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								{{ form_widget(form.nom,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'nom'|trans} }) }}
								{{ form_errors(form.nom) }}
							</div>
							<div class="col-sm-6 mb-3 mb-sm-0">

								{{ form_widget(form.dateDatedeb,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'date debut'|trans} }) }}
								{{ form_errors(form.dateDatedeb) }}
							</div>
						</div>
                        <div class="form-group row">
							<div class="col-sm-6">
								{{ form_widget(form.dateFin,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Date fin'|trans} }) }}
								{{ form_errors(form.dateFin) }}
							</div>
							<div class="col-sm-6 mb-3 mb-sm-0">

								{{ form_widget(form.pourcentage,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Pourcentage'|trans} }) }}
								{{ form_errors(form.pourcentage) }}
							</div>
						</div>
                        
					</div>
					<hr>
					<div class="d-grid gap-2 col-6 mx-auto">
						<button type="submit" class="btn btn-primary btn-user btn-block">
							Ajouter offre
						</button>
					</div>

					{{form_end(form)}}

					<hr>

				</div>
			</div>

		</div>

	</div>

{% endblock %}
